<!DOCTYPE html>
<html>
	<head>
		<title>{{pageTitle }}</title>
		<link rel="stylesheet" href="/css/styles.css">
	</head>

	<body>
		<div class="flex-container">
			{{>header }}
				<p>Watermellons for days. <h1>{{errorMessage }}</h1></p>

		</div>

		{{>footer }}
	</body>
</html>