<!DOCTYPE html>

<html>
	<head>
		<title>{{pageTitle }}</title>
		<link rel="stylesheet" href="/css/styles.css">
	</head>

	<body>
		<div class="flex-container">
			{{>header }}
			<p>{{helpText }}</p>
			
		</div>

		{{>footer }}
	</body>
</html>